@mixin scale_size($size) {
  @if $size == 'large' {
    $cardw: 100% !global;
    $cardh: 200px !global;
    $fontS: 13px !global;
  } @else if $size == 'medium' {
    $cardw: 48% !global;
    $cardh: 300px !global;
    $fontS: 10px !global;
  } @else if $size == 'small' {
    $cardw: 48% !global;
    $cardh: 150px !global;
    $fontS: 8px !global;
  }
  .cardGroupWrap {
    @if $size != 'large' {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-right: 10px;
    }
  }
;
  div[custom=ROW] {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 1px 1px 5px 0px grey;
    font-size: $fontS;
    width: $cardw;
    height: $cardh;
    @if $size != 'large' {
      margin: 1%;
    }

    &:hover {
      box-shadow: 2px 2px 10px 1px black;
      opacity: 0.7;
    }

    & .ant-card-body {
      display: grid;
      grid-template-rows: repeat(10, 10%);
      grid-template-columns: repeat(40, 2.5%);
      @if $size == 'large' {
        padding: 5px;
      } @else {
        padding: 0px;
      }

      .col1 {
        @if $size == 'large' {
          grid-column: 1/8;
          grid-row: 1/11;
        } @else if $size == 'medium' {
          grid-column: 1/21;
          grid-row: 1/8;
        } @else if $size == 'small' {
          grid-column: -1;
          grid-row: -1;
        };
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      .col2 {
        display: flex;
        @if $size == 'large' {
          grid-row: 1/11;
          grid-column: 9/31;
          align-content: space-around;
        } @else if $size == 'medium' {
          grid-row: 8/11;
          grid-column: 1/41;
          align-content: space-evenly;
        } @else if $size == 'small' {
          grid-column: 3/41;
          grid-row: 1/6;
        };
        flex-flow: row wrap;

        & .ant-card-meta {
          width: 100%;
          text-align: left;

          &[custom=col20] {
            font-size: 1.5em;

            & .ant-card-meta-description {
              color: #1C6FBC;
            }
          ;
          }
        ;;

          &[custom=col21] {
            font-size: 1.5em;
            font-weight: 1000;
            @if $size == 'large' {
              //margin-bottom: 10px
            };
            display: flex;
            flex-wrap: nowrap;
            overflow-x: hidden;

            .ant-card-meta-description {
              //color: #3F3F3F;
              //color: #1C6FBC;
            }
          }
        ;

          &[custom=col22] {
            font-size: 1.5em;

            .ant-card-meta-description {
              color: #3F3F3F;
              font-weight: 800;
              //color: #1C6FBC;
            }
          }
        }
      }
    ;

      .col3 {
        display: flex;
        flex-flow: row wrap;
        @if $size == 'large' {
          grid-row: 1/11;
          grid-column: 31/36;
        } @else if $size == 'medium' {
          grid-column: 22/31;
          grid-row: 1/8;
        } @else if $size == 'small' {
          grid-column: 3/21;
          grid-row: 6/11;
        };

        align-content: space-around;

        & .ant-card-meta {
          font-size: 1.3em;
          width: 100%;
          text-align: left;
        }
      }
    ;

      .col4 {
        display: flex;
        grid-row: 1/11;
        flex-flow: row wrap;
        @if $size == 'large' {
          grid-column: 36/40;
          margin-right: 5px;
        } @else if $size == 'medium' {
          grid-column: 31/40;
          grid-row: 1/8;
          margin-right: 0px;
        } @else if $size == 'small' {
          grid-column: 31/39;
          grid-row: 6/11;
          margin-right: 5px;
        };;
        align-content: space-around;

        & .ant-card-meta {
          width: 100%;
          text-align: right;
          font-weight: 700;
          font-size: 1.3em;

          .ant-card-meta-description {
            color: #3F3F3F;

          }
        }
      ;
      }
    }

  }
;
  div[role=presentation] {
    width: 100%
  }
;
  .ant-table-filter-trigger .anticon {
    left: 80%;
  }
;
  .ant-table-cell-ellipsis.ant-table-cell-fix-left-last .ant-table-cell-content, .ant-table-cell-ellipsis.ant-table-cell-fix-right-first .ant-table-cell-content {
    text-align: center;
    & .ant-table-filter-column{
      margin:0px;
      justify-content: center;
    }
  }
;
  @content

}

@media screen and (min-width: 1180px) {
  @include scale_size('large') {
  }
}

@media screen and (max-width: 1180px) {
  @include scale_size('medium')
}

@media screen and (max-width: 830px) {
  @include scale_size('small')
}
