

.sidebar {
  --offset: var(--space);
  /* ... */
  position: sticky;
  top: var(--offset);
}

.sidebar .component {
  max-height: calc(100vh - var(--offset) * 2);
}
/* // "self-start sticky top-16 border border-solid border-gray-300 rounded-lg w-64 ml-16" */

.component {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.component .content {
  max-height: 500px;
  overflow-y: auto;
}