@import './util.module';

.macroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.resultTitle {
    display: flex;
    flex-direction: column;
    // align-items: center;
    color:rgb(117, 117, 117);
    width: 100%;
    
    @include mobile { margin-top: 2rem; }
    @include tablet { margin-top: 2.3rem; }
    @include desktop { margin-top: 3rem;}
    .titlePhrase {
        align-self: center;
        font-weight: 700;
        margin-right: 0.2rem;
        @include mobile { font-size: 1.3rem; }
        @include tablet { font-size: 1.6rem; }
        @include desktop { font-size: 2rem; margin-bottom: 1rem;}
    }
    .titleDate {
        font-family: 'blinker';
        font-weight: 300;
        align-self: flex-end;
        @include mobile { font-size: 1rem; }
        @include tablet { font-size: 1.2rem; }
        @include desktop { font-size: 1.5rem; }
    }
}

.tableLayout {
    width:100%;
}

.macroTable {
    margin: {
        top: 0.2rem;
        bottom: 3rem;
    }
    width: 100%;
    font-family: 'sans';
    font-weight: 400;
    border-collapse: collapse;
    border-top: 3px solid #168;
    text-align: center;
    .minus {
        color: red;
    }
    .plus {
        color: blue;
    }
    th {
        color: rgb(63, 63, 63);
        background: #ebebeb;
        padding: 10px;
        border: 1px solid #ddd;
        font-weight: 400;
        @include mobile {
            font-size: 1rem;
            // width: 3rem;
        }
        @include tablet {
            font-size: 1.2rem;
            // width: 5rem;
        }
        @include desktop {
            font-size: 1.5rem;
            // width: 7rem;
        }
    }
    td {
        padding: 10px;
        border: 1px solid #ddd;
        color:rgb(88, 88, 88);
        
        @include mobile {
            font-size: 1rem;
        }
        @include tablet {
            font-size: 1.1rem;
        }
        @include desktop {
            font-size: 1.3rem;
        }
        
    }
    th:first-child, td:first-child {
        border-left: 0;
    }
    th:last-child, td:last-child {
        border-right: 0;
    }
    p {
        @include mobile {
            font-size: 0.85rem;
        }
        @include tablet {
            font-size: 1rem;
        }
        @include desktop {
            font-size: 1.115rem;
        }
        color: #4c4c4c;
        margin: 1rem 0.2rem 1rem 0.2rem;
        text-align: left;
        background-color: rgb(222, 222, 222);
        border-radius: 6px;
        padding: 15px 20px 15px 20px
    }
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px 10px 10px;
    p {
        text-align: center;
        font-family: blinker;
        @include mobile {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }
        @include tablet {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        @include desktop {
            margin-top: 40px;
            font-size: 4rem;
        }
    }
}
.contentsContainer {
    display: flex;
    flex-wrap: wrap;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        @include mobile {
            margin: 0px 30px;
            width: calc(100% - 60px);
        }
        @include desktop {
            margin: 0px 30px;
            width: calc(33% - 60px);
            margin-bottom: 5rem;
        }
        p {
            font-size: 2rem;
            font-family: blinker;
        }
    }
    
}
