@media screen and (min-width: 769px) {
  .customSelect {
    margin-right: 16px;
    background: transparent;
    color: white;
    font-family: 'sans';
    font-size: 3rem;
    font-weight: 100;
    appearance: none;
    padding-right: 2.5rem;
    background-image: url('../public/down_arrow.png');
    background-repeat: no-repeat;
    background-position: calc(100% - 3px) calc(50% + 4px);
    border-bottom: 1px solid white;
  }
  .customSelect:hover {
    cursor: pointer;
    font-weight: 600;
  }
  .customSelect option {
    background-color: transparent;
    color: rgb(100, 100, 100);
    font-family: 'sans';
    font-size: 2rem;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .customSelect {
    margin-right: 16px;
    background: transparent;
    color: white;
    font-family: 'sans';
    font-size: 2rem;
    font-weight: 100;
    padding-right: 0.5rem;
    border-bottom: 1px solid white;
  }
  .customSelect:hover {
    cursor: pointer;
    font-weight: 600;
  }
  .customSelect option {
    background-color: transparent;
    color: rgb(100, 100, 100);
    font-family: 'sans';
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .customSelect {
    margin-right: 16px;
    background: transparent;
    color: white;
    font-family: 'sans';
    font-size: 1.5rem;
    font-weight: 100;
    padding-right: 0.5rem;
    border-bottom: 1px solid white;
  }
  .customSelect option {
    background-color: transparent;
    color: rgb(100, 100, 100);
    font-family: 'sans';
    font-size: 1rem;
    padding-left: 0.5rem;
  }
}