@import "constant";
.ant-slider-track {
  background:map-get($slider,"rail","bg")
}
.ant-slider-handle{
  border: map-get($slider,"handle","border");
  background: map-get($slider,"handle","bg");
  &.ant-tooltip-open{
    opacity: 0.3;
    border-color: map-get($slider,"handle","border");
  }
  &:focus{
    border-color: map-get($slider,"handle","border");
  };
  .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
    border-color: map-get($slider,"handle","border");
  }

}
