.modelTable {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: 'sans';
    border-collapse: collapse;
    border-top: 3px solid #168;
    text-align: center;
}

.modelTable th {
    color: #168;
    background: #f0f6f9;
    width: 18rem;
}

.modelTable th, .modelTable td {
    padding: 10px;
    border: 1px solid #ddd;
}
.modelTable th:first-child, .modelTable td:first-child {
    border-left: 0;
}
.modelTable th:last-child, .modelTable td:last-child {
    border-right: 0;
}